body {
    background: #f4f4f4;
}
#content{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background: #0776a0;
}
.menu{
    background: #ffd173;
    color: #000000;
    padding: 5px 5px 5px 10px;
    margin: 0px;
}
.menu > li + li:before {
    content: "| ";
}
.l-inline li{
    display: inline-block;
}
.l-inline > *{
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}
.menu li a {
    color: inherit;
    text-decoration: none;
}
#main {
    background: #ffffff;
}
#left {
    float: left;
    width:70%;
    background: inherit;
}
#right {
    width: 30%;
    background: #62b1d0;
    float: right;
}

@media (max-width: 767px) {
    #left {
        display: block;
        width: 100%
    }
    #right {
        float: none;
        width: 100%
    }
}

.nofloat {
    clear: both;
}

.content {
    margin: 10px;
}


