<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta content="{{author}}" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/css/pure-min.css">
    <link type="text/css" rel="stylesheet" href="/css/grids-responsive-min.css">
    <link type="text/css" rel="stylesheet" href="/css/codestyle.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div id="layout" class="pure-g">
      
      <div id="menu" class="pure-u-1">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
          <a href="/" class="pure-menu-heading">{{header}}</a>
          
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="/feed.xml">RSS</a></li>
          </ul>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-3-4">
        <div class="content">
          {{content}}
          {{#prev_page}}
            <a href="{{uri}}">Newer</a>
          {{/prev_page}}
          {{#next_page}}
            <a href="{{uri}}">Older</a>
          {{/next_page}}
        </div>
      </div>
      
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="sidebar">
          <ul>
            <li><a href="https://github.com">Github</a></li>
          </ul>
        </div>
      </div>

      <div class="pure-u-1">
        <div class="footer">
          <p>Site generated by
            <a href="https://github.com/OrangeShark/webstache">webstache</a>
          </p>
          <p><emp>Copyright notice</emp></p>
        </div>
      </div>
    </div>
  </body>
</html>
